.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;

  max-height: var(--header-height);

  &-start {
    display: flex;
    align-items: center;
  }
}
