@use '../themes' as *;

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb {
  padding-inline: 0.25rem;
  border-radius: 9999px;
  background-color: var(--md-sys-color-outline-variant);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--md-sys-color-outline);
}

::-webkit-slider-thumb:target {
  background-color: var(--md-sys-color-primary);
}
