@use '../utilities/variables' as *;

main > table {
  max-width: max-content;
}

table {
  border-spacing: 0;
}

td,
th {
  border-block-start: 1px solid var(--md-sys-color-outline-variant);
  border-inline-start: 1px solid var(--md-sys-color-outline-variant);
  padding: 8px 16px;
}

tr:last-of-type td,
tr:last-of-type th {
  border-block-end: 1px solid var(--md-sys-color-outline-variant);
}

tr td:last-of-type,
tr th:last-of-type {
  border-inline-end: 1px solid var(--md-sys-color-outline-variant);
}

th {
  background-color: var(--md-sys-color-surface-container);
  text-shadow: 0 1px 1px var(--md-sys-color-surface-container-lowest);
  color: var(--md-sys-color-on-surface);
  font-size: 1.25em;
}

:not(pre) > code {
  display: inline-flex;
  background-color: var(--md-sys-color-surface-variant);
  text-shadow: 0 1px 1px var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface);
  padding: 4px;
  border-radius: 8px;
}

tr th:first-of-type {
  border-start-start-radius: var(--catalog-shape-xl);
}

tr th:last-of-type {
  border-start-end-radius: var(--catalog-shape-xl);
}

tr:last-of-type td:first-of-type {
  border-end-start-radius: var(--catalog-shape-xl);
}

tr:last-of-type td:last-of-type {
  border-end-end-radius: var(--catalog-shape-xl);
}
